
@{
    ViewBag.Title = "Alterar";
}

<title>Alterando Cliente</title>
<div class="container">
    <h2 class="display-4 mt-3 mb-3">Alterarando Cliente: @ViewBag.Clientes.Nome</h2>
    <form action="/cliente/update">
        <div class="row">
            <div class="col-12">
                <label for="campo-nome">Nome</label>
                <input class="form-control" type="text" name="nome" id="campo-nome" required="" value="@ViewBag.Clientes.Nome" />
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="campo-cpf">CPF</label>
                <input class="form-control" type="text" required="" id="campo-cpf" name="cpf" value="@ViewBag.Clientes.Cpf" />
            </div>
            <div class="col-6">
                <label for="campo-data-nascimento">Data Nascimento</label>
                <input class="form-control" type="date" id="campo-data-nascimento" name="dataNascimento" required="" value="@ViewBag.Clientes.DataNascimento" />
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <label for="campo-cidade">Cidade</label>
                <select class="form-control" name="cidade" id="campo-cidade" required="">

                    @foreach (Model.Cidade Cidade in ViewBag.Cidades)
                    {
                        if (Cidade.Id == ViewBag.Clientes.FkCidade)
                        {
                            <option value="@Cidade.Id" selected="selected">@Cidade.Nome</option>
                        }
                        else
                        {
                            <option value="@Cidade.Id">@Cidade.Nome</option>
                        }
                    }
                </select>
            </div>
            <div class="col-4">
                <label for="campo-numero">Numero</label>
                <input class="form-control" type="number" required="" name="numero" id="campo-numero" value="@ViewBag.Clientes.Numero" />
            </div>
        </div>
        <div>
            <label for="campo-complemento">Complemento</label>
            <input class="form-control" type="text" required="" name="complemento" id="campo-complemento" value="@ViewBag.Clientes.Complemento" />
        </div>
        <div class="row">
            <div class="col-9">
                <label for="campo-logradouro">Logradouro</label>
                <input class="form-control" type="text" required="" name="logradouro" id="campo-logradouro" value="@ViewBag.Clientes.Logradouro" />
            </div>
            <div class="col-3">
                <label for="campo-cep">Cep</label>
                <input class="form-control" type="text" required="" name="cep" id="campo-cep" value="@ViewBag.Clientes.Cep" />
            </div>
        </div>
        <input type="text" hidden="hidden" value="@ViewBag.Clientes.Id" name="id" />
        <button class="btn btn-success mt-3" type="submit"><i class="fa fa-save"></i> Alterar</button>
    </form>
</div>

