
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <a href="/projeto/cadastro">Adicionar Projeto</a>
</div>
<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome Projeto</td>
            <td>Nome Cliente</td>
            <td>Data Criação</td>
            <td>Data Finalização</td>
            <td>Ação</td>
        </tr>
    </thead>
    <tbody>
        @foreach (Model.Projeto Projeto in ViewBag.Projetos)
        {
            <tr>
                <td>@Projeto.Id</td>
                <td>@Projeto.Nome</td>
                <td>@Projeto.Cliente.Nome</td>
                <td>@Projeto.DataCriacao</td>
                <td>@Projeto.DataFinalizacao</td>
                <td>
                    <a href="/projeto/alterar?id=@Projeto.Id">Alterar</a>
                    <a href="/projeto/apagar?id=@Projeto.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td>Id</td>
            <td>Nome Projeto</td>
            <td>Nome Cliente</td>
            <td>Data Criação</td>
            <td>Data Finalização</td>
            <td>Ação</td>
        </tr>
    </tfoot>
</table>
