
@{
    ViewBag.Title = "Alterar";
}

<h2 class="display-4 mt-3 mb-2">Alterarando @ViewBag.Usuario.Nome</h2>
<title>Alterando Usuario</title>

<form action="/usuario/update" method="post">
    <div>
        <div>
            <label for="campo-nome">Novo Nome</label>
            <input class="form-control" type="text" name="nome" id="campo-nome" required="" value="@ViewBag.Usuario.Nome"/>
        </div>
        <div>
            <label for="campo-login">Novo Login</label>
            <input class="form-control" type="text" name="login" id="campo-login" required="" value="@ViewBag.Usuario.Login" />
        </div>
        <div>
            <label for="campo-senha">Nova Senha</label>
            <input class="form-control" type="password" name="senha" id="campo-senha" required="" value="@ViewBag.Usuario.Senha"/>
        </div>
        <input type="text" hidden="hidden" value="@ViewBag.Usuario.Id" name="id" />
        <button class="btn btn-success mt-3" type="submit"><i class="fa fa-save"></i> Salvar</button>
    </div>

</form>

